
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
// 弹性盒
.flex{
    display: inline-flex;
    display: -webkit-flex;
    display: flex;
}
// 弹性盒-子元素可竖向居中
.flex-middle{
    display :flex; 
    display:-webkit-flex; 
    align-items:center; 
    -webkit-align-items:center; 
    justify-content:center ;
}
// 清除浮动
.clear{
    &:before,&:after{
        display:table;
        content:" ";
    }
    &:after {
        clear:both;
    }
    *zoom:1;
}
// 禁止长按选中
*:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//********************************
//
// button
//
//********************************
.btn {
  border: 1px solid #e1e1e1;
  background: none;
  padding: 7px 10px;
  font-size: $font-size-df;
  color: #666;
  &.btn-xs {
    font-size: $font-size-sm;
    padding: 1px 2px;
  }
  &.btn-sm {
    font-size: $font-size-sm;
    padding: 4px 6px;
  }
  &.btn-lg {
    font-size: $font-size-lg;
    padding: 10px 24px;
  }
}



//********************************
//
// common
//
//********************************
body {
  color: $font-color-shallow6;
  font-size: $font-size-df;
  background-color: #e1e1e1;
}
a {
  @include link($link:$font-color-shallow3);
}

//
// list-1
//
.list-1 li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  @include theme_bd(neutral-divider);
  &:hover {
    background-color: rgba(#999,0.05);
  }
  .dot-box {
    flex: 0 0 20px;
    span {
      position: relative;
      top: 12px;
      display: block;
      width: 4px;
      height: 16px;
      @include theme_bg(primary,0.6);
    }
  }
  .msg-box {
    flex: 1;
    .msg-title-max {
      margin: 10px 0;
      span {
        padding: 5px 8px;
        border: 1px solid #e1e1e1;
        font-size: $font-size-df;
        @include theme_font(primary);
        @include theme_bd(primary,0.4);
        @include theme_bg(primary,0.1);
      }
    }
    .msg-title {
      margin: 10px 0;
      font-size: $font-size-dfx;
      @include theme_font(neutral-content);
      @include lines($line:1);
    }
    .msg-min {
      justify-content: space-between;
      span {
        font-size: $font-size-sm;
        @include theme_font(neutral-content,0.6);
      }
      .msg-label {
        margin-right: 5px;
      }
    }
  }
}

//
// list-2
//
.list-2 li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  @include theme_bd(neutral-divider);
  &:hover {
    background-color: rgba(#999,0.05);
  }
  .msg-box {
    flex: 1;
    .title {
      margin: 10px 0;
      font-size: $font-size-dfx;
      @include theme_font(neutral-content);
      @include lines($line:1);
    }
    .math {
      @include theme_font(primary);
      b {
        font-size: 24px;
      }
    }
    .min {
      span {
        font-size: $font-size-sm;
        @include theme_font(neutral-content,0.6);
      }
      .min-label {
        margin-right: 5px;
        @include theme_font(info);
      }
    }
  }
  .sub-box {
    button {
      margin-left: 10px;
      @include radius(100px);
    }
    .time {
      @include theme_bd(primary);
      @include theme_font(primary);
      background-color: #fff;
    }
    .tag {
      color: #fff;
      @include theme_bd(primary);
      @include theme_bg(primary);
    }
  }
}

//
// pages
//
.pages {
  header {
    padding: 40px 0;
    background-color: #fff;
    .box {
      width: 1200px;
      margin: 0 auto;
      h1 {
        flex: 1;
        font-size: 30px;
        font-weight: normal;
        @include theme_font(neutral-content);
        span {
          display: block;
          font-weight: normal;
          font-size: $font-size-df;
        }
      }
      .search {
        @include shadow($blur:20px);
        input {
          width: 300px;
          height: 40px;
          padding: 0 10px;
          border: 1px solid #e1e1e1;
          @include theme_bd(primary);
          background-color: #fff;
        }
        button {
          width: 100px;
          height: 40px;
          border: 0;
          color: #fff;
          font-size: $font-size-dfx;
          @include theme_bg(primary);
          cursor: pointer;
        }
      }
    }
  }
  >section {
    width: 1200px;
    padding: 40px;
    margin: 20px auto;
    background-color: #fff;
    @include shadow;
  }
}


//
// details
//
.details {
  section {
    width: 1200px;
    padding: 40px;
    margin: 20px auto;
    background-color: #fff;
    @include shadow;
    h1 {
      margin: 20px 0;
      text-align: center;
      font-size: 30px;
      @include theme_font(neutral-content);
    }
  }
}