//颜色定义规范
$bg-color-theme: #3f8e4d;//背景主题颜色默认
$bg-color-theme1: red;//背景主题颜色1
$bg-color-theme2: #652BF5;//背景主题颜色2
$bg-color-theme3: deepskyblue;//背景主题颜色3
$bg-color-themesec: #edc148;//背景次要主题颜色
 
$text-color-theme : #3f8e4d;//字体主题颜色默认
$text-color-theme1 : red;//字体主题颜色1
$text-color-theme2 : #652BF5;//字体主题颜色2
$text-color-theme3 : deepskyblue;//字体主题颜色3
$text-color-themesec : #edc148;//字体次要主题颜色

$bd-color-theme : #3f8e4d;//字体主题颜色默认
$bd-color-theme1 : red;//字体主题颜色1
$bd-color-theme2 : #652BF5;//字体主题颜色2
$bd-color-theme3 : deepskyblue;//字体主题颜色3
$bd-color-themesec : #edc148;//字体次要主题颜色


$font-color-shallow0 : #000;
$font-color-shallow1 : #111;
$font-color-shallow2 : #222;
$font-color-shallow3 : #333;
$font-color-shallow4 : #444;
$font-color-shallow5 : #555;
$font-color-shallow6 : #666;
$font-color-shallow7 : #777;
$font-color-shallow8 : #888;
$font-color-shallow9 : #999;
$font-color-shallowdb : #dbdbdb;
 
//字体定义规范
$font-size-xs:10px;
$font-size-sm:12px;
$font-size-df:14px;
$font-size-dfx:16px;
$font-size-lg:18px;
$font-size-lgx:20px;
 
