// 颜色定义规范
// 默认主题
$theme-text: #ef7800;
$theme-bg: #ef7800;
$theme-bgsec: #242328;
$theme-bd: #ef7800;
// 主题1
$theme1-text: #ff0000;
$theme1-bg: #ff0000;
$theme1-bgsec: #666;
$theme1-bd: #ff0000;
// 主题2
$theme2-text: #652BF5;
$theme2-bg: #652BF5;
$theme2-bgsec: #999;
$theme2-bd: #652BF5;
// 主题3
$theme3-text: deepskyblue;
$theme3-bg: deepskyblue;
$theme3-bgsec: #000;
$theme3-bd: deepskyblue;



$font-color-shallow0 : #000;
$font-color-shallow1 : #111;
$font-color-shallow2 : #222;
$font-color-shallow3 : #333;
$font-color-shallow4 : #444;
$font-color-shallow5 : #555;
$font-color-shallow6 : #666;
$font-color-shallow7 : #777;
$font-color-shallow8 : #888;
$font-color-shallow9 : #999;
$font-color-shallowdb : #ccc;
 
//字体定义规范
$font-size-xs:10px;
$font-size-sm:12px;
$font-size-df:14px;
$font-size-dfx:15px;
$font-size-lg:18px;
$font-size-lgx:20px;
 
